@using Microsoft.Extensions.Hosting
@using miltonProject.Client.Models
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using miltonProject.Client.Interfaces
@using Microsoft.AspNetCore.Hosting
@using System.IO
@inject Blazored.SessionStorage.ISessionStorageService _storage
@inject NavigationManager _nav
@inject IBillingRepository _billingrepo
@inject IUserDetailRepository _userrepo
@inject HttpClient Http
@using System.IO
@inject IJSRuntime JS

@page "/billing/{userId:int}"

<style>
    html, body {
        background-image: url(https://uni-milton.hu/wp-content/uploads/2016/04/MM_MILTONkonf_0328_-5-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
</style>

@if (isownedPage)
{
    <div class="row" style="opacity: 0.9">
        <div class="col-md-6">
            <h4>Várakozó</h4>
            <MudTable Items="waitings" T=BillingRequest Loading=loading>
                <HeaderContent>
                    <MudTh>Lejárat</MudTh>
                    <MudTh>Létrehozva</MudTh>
                    <MudTh>Létrehozó</MudTh>
                    <MudTh>Elfogadott</MudTh>
                    <MudTh>Fájl letöltése</MudTh>
                    <MudTh>Fájl feltöltés</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Lejárat">@context.DeadLine?.ToString("yyyy.MM.dd")</MudTd>
                    <MudTd DataLabel="Létrehozó">
                        @{
                            var u = " ";
                            if (users != null && users.Count > 0)
                            {
                                if (users.Where(w => w.UserId == context.UploaderId).FirstOrDefault().UserName != null)
                                    u = users?.Where(w => w.UserId == context.UploaderId).FirstOrDefault().UserName;

                                @u
                            }

                        }
                    </MudTd>
                    <MudTd DataLabel="Létrehozva">@context.CreateDate</MudTd>
                    <MudTd DataLabel="Elfogadott">
                        @{
                            <MudCheckBox Disabled=true @bind-Checked="context.IsAccepted"></MudCheckBox>
                        }
                    </MudTd>
                    @{
                        if (context.FileName != null)
                        {
                            var filename = "/" + context.FileName;
                            <MudTd DataLabel="Fájl letöltés"><a href="@filename" download="@context.FileName"><MudButton StartIcon=@Icons.Filled.Download></MudButton></a></MudTd>
                        }
                        else
                        {
                            <MudTd DataLabel="Fájl letöltés">Még nincs fájl</MudTd>
                        }
                        <MudTd DataLabel="Fájl feltöltés">
                            @{
                                var req = (context as BillingRequest);
                            }
                            <InputFile id="fileInput" OnChange="@((args) =>UploadFiles(args))" hidden />

                            <MudButton HtmlTag="label"
                               OnClick=@(() =>GetReqId(req.Id))
                               StartIcon="@Icons.Filled.CloudUpload"
                               for="fileInput">
                            </MudButton>
                        </MudTd>

                    }
                </RowTemplate>
            </MudTable>
        </div>
        <div class="col-md-6">
            <h4>Kész</h4>
            <MudTable Items="dones" T=BillingRequest Loading=loading>
                <HeaderContent>
                    <MudTh>Lejárat</MudTh>
                    <MudTh>Létrehozó</MudTh>
                    <MudTh>Létrehozva</MudTh>
                    <MudTh>Elfogadott</MudTh>
                    <MudTh>Fájl letöltése</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Lejárat">@context.DeadLine?.ToString("yyyy.MM.dd")</MudTd>
                    <MudTd DataLabel="Létrehozó">
                        @{
                            var u = users?.Where(w => w.UserId == context.UploaderId).FirstOrDefault();
                            @u.UserName
                        }
                    </MudTd>
                    <MudTd DataLabel="Létrehozva">@context.CreateDate</MudTd>
                    <MudTd DataLabel="Elfogadott">
                        @{
                            <MudCheckBox Disabled=true @bind-Checked="context.IsAccepted"></MudCheckBox>
                        }
                    </MudTd>
                    @{
                        if (context.FileName != null)
                        {
                            var filename = "/" + context.FileName;
                            <MudTd DataLabel="Fájl letöltés"><a href="@filename" download="@context.FileName"><MudButton StartIcon=@Icons.Filled.Download></MudButton></a></MudTd>
                        }
                        else
                        {
                            <MudTd DataLabel="Fájl letöltés">Még nincs fájl</MudTd>
                        }
                    }
                </RowTemplate>
            </MudTable>
        </div>
    </div>
}
else if (!isownedPage && loggedId != 1)
{
    <div class="row" style="opacity: 0.9">
        <div class="col-md-6">
            <h4>Várakozó</h4>
            <MudTable Items="waitings" T=BillingRequest Loading=loading>
                <HeaderContent>
                    <MudTh>Lejárat</MudTh>
                    <MudTh>Létrehozó</MudTh>
                    <MudTh>Létrehozva</MudTh>
                    <MudTh>Elfogadott</MudTh>
                    <MudTh>Törlés</MudTh>
                    <MudTh>Fájl letöltése</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Lejárat">@context.DeadLine?.ToString("yyyy.MM.dd")</MudTd>
                    <MudTd DataLabel="Létrehozó">
                        @{
                            var u = users.Where(w => w.UserId == context.UploaderId).FirstOrDefault();
                            @u.UserName
                        }
                    </MudTd>
                    <MudTd DataLabel="Létrehozva">@context.CreateDate</MudTd>
                    <MudTd DataLabel="Elfogadott">
                        @{
                            <MudCheckBox Disabled=true @bind-Checked="context.IsAccepted"></MudCheckBox>
                        }
                    </MudTd>

                    <MudTd DataLabel="Törlés"><MudButton OnClick="@(() => Delete(context.Id))" StartIcon=@Icons.Filled.Delete></MudButton></MudTd>

                    @{
                        if (context.FileName != null)
                        {
                            var filename = "/" + context.FileName;
                            <MudTd DataLabel="Fájl letöltés"><a href="@filename" download="@context.FileName"><MudButton StartIcon=@Icons.Filled.Download></MudButton></a></MudTd>

                        }
                        else
                        {
                            <MudTd DataLabel="Fájl letöltés">Még nincs fájl</MudTd>
                        }
                    }
                </RowTemplate>
            </MudTable>
        </div>
        <div class="col-md-6">
            <h4>Kész</h4>
            <MudTable Items="dones" T=BillingRequest Loading=loading>
                <HeaderContent>
                    <MudTh>Lejárat</MudTh>
                    <MudTh>Létrehozó</MudTh>
                    <MudTh>Létrehozva</MudTh>
                    <MudTh>Elfogadott</MudTh>
                    <MudTh>Fájl letöltése</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Lejárat">@context.DeadLine?.ToString("yyyy.MM.dd")</MudTd>
                    <MudTd DataLabel="Létrehozó">
                        @{
                            var u = users.Where(w => w.UserId == context.UploaderId).FirstOrDefault();
                            @u.UserName
                        }
                    </MudTd>
                    <MudTd DataLabel="Létrehozva">@context.CreateDate</MudTd>
                    <MudTd DataLabel="Elfogadott">
                        @{
                            <MudCheckBox Disabled=true @bind-Checked="context.IsAccepted"></MudCheckBox>
                        }
                    </MudTd>
                    @{
                        if (context.FileName != null)
                        {
                            var filename = "/" + context.FileName;
                            <MudTd DataLabel="Fájl letöltés"><a href="@filename" download="@context.FileName"><MudButton StartIcon=@Icons.Filled.Download></MudButton></a></MudTd>

                        }
                        else
                        {
                            <MudTd DataLabel="Fájl letöltés">Még nincs fájl</MudTd>
                        }
                    }
                </RowTemplate>
            </MudTable>
        </div>
    </div>
}


@code {
    //parameter from url
    [Parameter]
    public int userId { get; set; }

    bool isownedPage;
    bool loading;
    int loggedId;
    int reqid;
    List<BillingRequest> billreqs = new();
    List<BillingRequest> waitings = new();
    List<BillingRequest> dones = new();
    List<UserDetailsAll> users = new();
    IReadOnlyList<IBrowserFile> files = new List<IBrowserFile>();

    //upload files
    private async void UploadFiles(InputFileChangeEventArgs e)
    {
        files = e.GetMultipleFiles();
        this.StateHasChanged();
        foreach (var file in files)
        {
            Stream stream = file.OpenReadStream();
            MemoryStream ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            stream.Close();

            UploadedFile uploadedFile = new UploadedFile();
            uploadedFile.FileName = DateTime.Now.ToString("yyyy.MM.dd.HH.mm") + reqid + file.Name;
            uploadedFile.FileContent = ms.ToArray();
            ms.Close();
            SeparateBills();
            await Http.PostAsJsonAsync<UploadedFile>("/api/Billing/PostFile?billId=" + reqid, uploadedFile);
            _nav.NavigateTo("billing/" + userId, forceLoad: true);
            StateHasChanged();
        }
    }
    //init
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        billreqs = await _billingrepo.GetBillsByUserId(userId);
        users = await _userrepo.GetAllUserInfo();

        if (userId == await _storage.GetItemAsync<int>("id"))
        {
            isownedPage = true;
        }
        loggedId = await _storage.GetItemAsync<int>("id");
        SeparateBills();
        loading = false;
    }
    //get request id for the file upload
    void GetReqId(int requestId)
    {
        reqid = requestId;
    }
    //
    void SeparateBills()
    {
        waitings = billreqs.Where(w => w.FileName == null || w.DeadLine > DateTime.Today && w.IsAccepted != true).ToList();
        dones = billreqs.Where(w => w.FileName != null && w.IsAccepted == true).ToList();
    }
    //delete bill
    async Task Delete(int id)
    {
        var result = await _billingrepo.DeleteBill(id);
        if (result)
        {
            _nav.NavigateTo("billing/" + userId, forceLoad: true);
        }
    }
    }
