@using Microsoft.Extensions.Hosting
@using miltonProject.Client.Models
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using miltonProject.Client.Interfaces
@using Microsoft.AspNetCore.Hosting
@using System.IO
@inject Blazored.SessionStorage.ISessionStorageService _storage
@inject NavigationManager _nav
@inject IBillingRepository _billingrepo
@inject IUserDetailRepository _userrepo
@inject HttpClient Http
@using System.IO

@page "/billing/{userId:int}"

<style>
    html, body {
        background-image: url(https://uni-milton.hu/wp-content/uploads/2016/04/MM_MILTONkonf_0328_-5-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
</style>

@if (isownedPage)
{
    <div class="row" style="opacity: 0.9">
        <div class="col-md-6">
            <h4>Várakozó</h4>
            <MudTable Items="waitings" T=BillingRequest>
                <HeaderContent>
                    <MudTh>Lejárat</MudTh>
                    <MudTh>Létrehozó</MudTh>
                    <MudTh>Létrehozva</MudTh>
                    <MudTh>Elfogadott</MudTh>
                    <MudTh>Fájl feltöltés</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Lejárat">@context.DeadLine?.ToString("yyyy.MM.dd")</MudTd>
                    <MudTd DataLabel="Létrehozó">
                        @{
                            var u = users.Where(w => w.UserId == context.UploaderId).FirstOrDefault();
                            @u.UserName
                        }
                    </MudTd>
                    <MudTd DataLabel="Létrehozva">@context.CreateDate</MudTd>
                    <MudTd DataLabel="Elfogadott">
                        @{
                            <MudCheckBox Disabled=true @bind-Checked="context.IsAccepted"></MudCheckBox>
                        }
                    </MudTd>
                    @if (context.FileName != null)
                    {
                        <MudTd DataLabel="Fájl letöltés"><MudButton Href=@context.FileName></MudButton></MudTd>
                    }
                    else
                    {
                        <MudTd DataLabel="Fájl feltöltés">
                            @context.Id
                            <InputFile id="fileInput" OnChange="@((args) =>UploadFiles(args, context.Id))" hidden />

                            <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Filled.CloudUpload"
                               for="fileInput">
                                Fájl feltöltés
                            </MudButton>
                        </MudTd>
                    }
                </RowTemplate>
            </MudTable>
        </div>
        <div class="col-md-6">
            <h4>Kész</h4>
            <MudTable Items="dones" T=BillingRequest>
                <HeaderContent>
                    <MudTh>Lejárat</MudTh>
                    <MudTh>Létrehozó</MudTh>
                    <MudTh>Létrehozva</MudTh>
                    <MudTh>Elfogadott</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Lejárat">@context.DeadLine?.ToString("yyyy.MM.dd")</MudTd>
                    <MudTd DataLabel="Létrehozó">
                        @{
                            var u = users.Where(w => w.Id == w.UserId).FirstOrDefault();
                            @u.UserName
                        }
                    </MudTd>
                    <MudTd DataLabel="Létrehozva">@context.CreateDate</MudTd>
                    <MudTd DataLabel="Elfogadott">
                        @{
                            <MudCheckBox Disabled=true @bind-Checked="context.IsAccepted"></MudCheckBox>
                        }
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </div>
    </div>
}
else if (!isownedPage && loggedId != 1)
{
    <div class="row" style="opacity: 0.9">
        <div class="col-md-6">
            <h4>Várakozó</h4>
            <MudTable Items="waitings" T=BillingRequest>
                <HeaderContent>
                    <MudTh>Lejárat</MudTh>
                    <MudTh>Létrehozó</MudTh>
                    <MudTh>Létrehozva</MudTh>
                    <MudTh>Elfogadott</MudTh>
                    <MudTh>Törlés</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Lejárat">@context.DeadLine?.ToString("yyyy.MM.dd")</MudTd>
                    <MudTd DataLabel="Létrehozó">
                        @{
                            var u = users.Where(w => w.UserId == context.UploaderId).FirstOrDefault();
                            @u.UserName
                        }
                    </MudTd>
                    <MudTd DataLabel="Létrehozva">@context.CreateDate</MudTd>
                    <MudTd DataLabel="Elfogadott">
                        @{
                            <MudCheckBox Disabled=true @bind-Checked="context.IsAccepted"></MudCheckBox>
                        }
                    </MudTd>
                    <MudTd DataLabel="Törlés"><MudButton>Törlés</MudButton></MudTd>
                </RowTemplate>
            </MudTable>
        </div>
        <div class="col-md-6">
            <h4>Kész</h4>
            <MudTable Items="dones" T=BillingRequest>
                <HeaderContent>
                    <MudTh>Lejárat</MudTh>
                    <MudTh>Létrehozó</MudTh>
                    <MudTh>Létrehozva</MudTh>
                    <MudTh>Elfogadott</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Lejárat">@context.DeadLine?.ToString("yyyy.MM.dd")</MudTd>
                    <MudTd DataLabel="Létrehozó">
                        @{
                            var u = users.Where(w => w.Id == w.UserId).FirstOrDefault();
                            @u.UserName
                        }
                    </MudTd>
                    <MudTd DataLabel="Létrehozva">@context.CreateDate</MudTd>
                    <MudTd DataLabel="Elfogadott">
                        @{
                            <MudCheckBox Disabled=true @bind-Checked="context.IsAccepted"></MudCheckBox>
                        }
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </div>
    </div>
}


@code {
    [Parameter]
    public int userId { get; set; }

    bool isownedPage;
    int loggedId;
    List<BillingRequest> billreqs = new();
    List<BillingRequest> waitings = new();
    List<BillingRequest> dones = new();
    List<UserDetailsAll> users = new();
    IReadOnlyList<IBrowserFile> files = new List<IBrowserFile>();


    private async void UploadFiles(InputFileChangeEventArgs e, int id)
    {
        files = e.GetMultipleFiles();
        this.StateHasChanged();
        foreach (var file in files)
        {
            Stream stream = file.OpenReadStream();
            MemoryStream ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            stream.Close();

            UploadedFile uploadedFile = new UploadedFile();
            uploadedFile.FileName = DateTime.Now.ToString("yyyy.MM.dd.HH.mm") + id + file.Name;
            uploadedFile.FileContent = ms.ToArray();
            ms.Close();

            await Http.PostAsJsonAsync<UploadedFile>("/api/Billing/PostFile?billId=" + id, uploadedFile);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        billreqs = await _billingrepo.GetBillsByUserId(userId);

        if (userId == await _storage.GetItemAsync<int>("id"))
        {
            isownedPage = true;
        }
        waitings = billreqs.Where(w => w.FileName == null || w.DeadLine > DateTime.Today && w.IsAccepted != true).ToList();
        dones = billreqs.Where(w => w.FileName != null && w.DeadLine < DateTime.Today && w.IsAccepted == true).ToList();
        users = await _userrepo.GetAllUserInfo();
        loggedId = await _storage.GetItemAsync<int>("id");

    }
    }
