@using miltonProject.Client.Models
@using miltonProject.Client.Interfaces
@using System.Linq.Expressions
@inject IUserDetailRepository _userRepo
@inject NavigationManager _nav

@page "/usersearch"
<style>
    html, body {
        background-image: url(https://uni-milton.hu/wp-content/uploads/2021/07/KR_20210723_0086-scaled.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
</style>
<div class="row">
    <MudPaper Style="    padding: 25px;opacity: 0.8;
    margin-bottom: 20px;">
        <MudForm Model="searchModel">
            <div class=row>
                <div class="col-md-3">
                    <MudTextField T=string Label="Vezetéknév" @bind-Value="searchModel.LastName"></MudTextField>
                </div>
                <div class="col-md-3">
                    <MudTextField T=string Label="Keresztnév" @bind-Value="searchModel.FirstName"></MudTextField>
                </div>
                <div class="col-md-2">
                    <MudCheckBox @bind-Checked=searchModel.IsBilling Label="Számlás"></MudCheckBox>
                </div>
                <div class="col-md-2">
                    <MudCheckBox @bind-Checked=searchModel.IsActive Label="Aktív"></MudCheckBox>
                </div>
                <div class="col-md-2">
                    <MudButton StartIcon="@Icons.Filled.Search" Color="Color.Info" Variant="Variant.Filled" OnClick="Search">Keresés</MudButton>
                </div>
            </div>
        </MudForm>
    </MudPaper>
</div>

<div class="row">
    <div class="col-md-12">
        <MudTable Items="@Users" Style="opacity: 0.9;" Height="450px" Hover="true" Breakpoint="Breakpoint.Sm" @ref="mudTable" T="UserDetailsAll">
            <HeaderContent>
                <MudTh>Név</MudTh>
                <MudTh>E-mail cím</MudTh>
                <MudTh>Jogosultság</MudTh>
                <MudTh>Aktív</MudTh>
                <MudTh>Számlás</MudTh>
                <MudTh>Megtekintés</MudTh>
                <MudTh>Új kérvény</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Név">@context.LastName @context.FirstName</MudTd>
                <MudTd DataLabel="E-mail cím">@context.Email</MudTd>
                <MudTd DataLabel="Jogosultság">
                    @{
                        string role;
                        if (context.Role == 0)
                        {
                            role = "Rendszergazda";
                        }
                        else if (context.Role == 1)
                        {
                            role = "Felhasználó";
                        }
                        else
                        {
                            role = "Adminisztrátor";
                        }
                        @role
                    }
                </MudTd>
                <MudTd DataLabel="Aktív">
                    @{
                        <MudCheckBox @bind-Checked="context.IsActive" Disabled="true"></MudCheckBox>
                    }
                </MudTd>
                <MudTd DataLabel="Számlás">
                    @{
                        <MudCheckBox @bind-Checked="context.IsBilling" Disabled="true"></MudCheckBox>
                    }
                </MudTd>
                <MudTd DataLabel="Megtekintés"><MudButton Color="Color.Info" StartIcon="@Icons.Filled.OpenInNew" OnClick="@(() => OpenUserPage(context.UserId))"></MudButton></MudTd>
                <MudTd DataLabel="Új kérvény"><MudButton Color="Color.Info" StartIcon="@Icons.Filled.Create" OnClick="@(() => OpenDialog(context.UserId, context.UserName, context.FirstName, context.LastName))"></MudButton></MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager HideRowsPerPage="true" />
            </PagerContent>
        </MudTable>
    </div>
</div>
<miltonProject.Client.Pages.UserSearch.NewBillingRequestPopUp UserID="@userId" UsersFullName="@usersFullName" Visible="@PopupVisible" ClosePopUp="PopupHandler" />

@code {
    List<UserDetailsAll> Users = new();
    UserDetailsAll searchModel = new();

    int userId;
    string usersFullName;
    public bool PopupVisible { get; set; } = false;

    private MudTable<UserDetailsAll> mudTable;
    protected override async Task OnInitializedAsync()
    {
        Users = await _userRepo.GetAllUserInfo();
        searchModel.IsActive = true;
        searchModel.IsBilling = true;
    }
    async Task Search()
    {
        Users = await _userRepo.GetAllUserInfo();

        if (searchModel != null && Users != null)
        {
            if (!string.IsNullOrEmpty(searchModel.FirstName))
            {
                Users = Users?.FindAll(f => f.FirstName == searchModel.FirstName);
            }
            if (!string.IsNullOrEmpty(searchModel.LastName))
            {
                Users = Users?.FindAll(f => f.FirstName == searchModel.FirstName);
            }
            Users = Users?.FindAll(f => f.IsActive == searchModel.IsActive && f.IsBilling == searchModel.IsBilling);
        }
    }
    void OpenDialog(int userid, string username, string firstname, string lastname)
    {
        userId = userid;
        if (string.IsNullOrEmpty(firstname) || string.IsNullOrEmpty(lastname))
            usersFullName = username;
        else
            usersFullName = lastname + " " + firstname;

        PopupVisible = true;
    }
    void PopupHandler(bool visible)
    {
        PopupVisible = visible;
    }
    void OpenUserPage(int id)
    {
        _nav.NavigateTo("/billing/" + id);
    }
}
